:root {
    /* base theme */
    --clr-accent: hsl(118, 100%, 48%);
    --clr-background: hsl(0, 0%, 4%);
    --clr-text: hsl(0, 0%, 96%);
    --clr-subtext: hsl(0, 0%, 72%);
    --clr-primary: hsl(0, 0%, 8%);
    --clr-secondary: hsl(0, 0%, 12%);
    --clr-tertiary: hsl(0, 0%, 16%);

    /* for border radius */
    --radius-5xs: 6.39pt;
    --radius-4xs: 7.29pt;
    --radius-3xs: 8.31pt;
    --radius-2xs: 9.47pt;
    --radius-xs: 10.8pt;
    --radius-sm: 12.31pt;
    --radius-md: 14.04pt;
    --radius-nm: 16pt;
    --radius-xl: 20.79pt;
    --radius-2xl: 23.7pt;
    --radius-3xl: 27.02pt;
    --radius-4xl: 30.81pt;
    --radius-5xl: 35.12pt;

    /* for font calculations, gaps, paddings, . . . */
    --scale-5xs: calc(0.0625rem * 6.39);
    --scale-4xs: calc(0.0625rem * 7.29);
    --scale-3xs: calc(0.0625rem * 8.31);
    --scale-2xs: calc(0.0625rem * 9.47);
    --scale-xs: calc(0.0625rem * 10.8);
    --scale-sm: calc(0.0625rem * 12.31);
    --scale-md: calc(0.0625rem * 14.04);
    --scale-nm: calc(0.0625rem * 16);
    --scale-xl: calc(0.0625rem * 20.79);
    --scale-2xl: calc(0.0625rem * 23.7);
    --scale-3xl: calc(0.0625rem * 27.02);
    --scale-4xl: calc(0.0625rem * 30.81);
    --scale-5xl: calc(0.0625rem * 35.12);

    /* fonts */
    --baseFontSize: 16px;
    --baseFontWeight: 400;
    --baseLineHeight: 1.5;
}

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    max-width: 100%;
    text-decoration: none;
}

html {
    background-color: var(--clr-background);
    display: contents;
    font-family: sans-serif;
    font-size: var(--baseFontSize);
    font-weight: var(--baseFontWeight);
    line-height: var(--baseLineHeight);
    overflow: clip;
}

body {
    background-color: var(--clr-background);
    color: var(--clr-text);
    min-height: 100dvh;
    overflow-x: clip;
    overflow-y: auto;
    width: 100dvw;
}

/* utility tags */
button {
    background-color: var(--clr-secondary);
    color: var(--clr-text);
    display: flex;
    font-size: var(--scale-sm);
    gap: var(--scale-sm);
    padding: var(--scale-xs) var(--scale-sm);
}

footer,
header,
row {
    display: flex;
    flex-direction: row;
}

column,
section,
subsection {
    display: flex;
    flex-direction: column;
}

grid {
    --gap: var(--scale-nm);
    --minWidth: 16rem;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr;

    &[max="2"] {
        --max: 2;
        grid-template-columns: repeat(auto-fill, minmax(max(var(--minWidth), calc(100% / var(--max) - var(--gap))), 1fr));
    }

    &[max="3"] {
        --max: 3;
        grid-template-columns: repeat(auto-fill, minmax(max(var(--minWidth), calc(100% / var(--max) - var(--gap))), 1fr));
    }

    &[max="4"] {
        --max: 4;
        grid-template-columns: repeat(auto-fill, minmax(max(var(--minWidth), calc(100% / var(--max) - var(--gap))), 1fr));
        /* grid-template-columns: repeat(auto-fill, minmax(max(var(--minwidth), calc((100% - var(--gap) * (var(--max) - 1)) / var(--max))), 1fr)); */
    }
}


/* material symbols patches */
.material-symbols-outlined,
.material-symbols-rounded,
.material-symbols-sharp {
    aspect-ratio: 1;
    height: max-content;
    overflow: clip;
    width: max-content;
}