:root {
    /* base theme */
    --clr-accent--light: color-mix(in srgb, var(--clr-accent), white 48%);
    --clr-accent: hsl(124, 69%, 28%);
    --clr-accent--dark: color-mix(in srgb, var(--clr-accent), black 48%);
    --clr-context: hsl(169, 69%, 28%);

    --clr-background: hsl(0, 0%, 4%);
    --clr-text: hsl(0, 0%, 96%);
    --clr-subtext: hsl(0, 0%, 72%);
    --clr-primary: hsl(0, 0%, 8%);
    --clr-secondary: hsl(0, 0%, 12%);
    --clr-tertiary: hsl(0, 0%, 16%);

    /* for border radius */
    --radius-5xs: 6.39pt;
    --radius-4xs: 7.29pt;
    --radius-3xs: 8.31pt;
    --radius-2xs: 9.47pt;
    --radius-xs: 10.8pt;
    --radius-sm: 12.31pt;
    --radius-md: 14.04pt;
    --radius-nm: 16pt;
    --radius-xl: 20.79pt;
    --radius-2xl: 23.7pt;
    --radius-3xl: 27.02pt;
    --radius-4xl: 30.81pt;
    --radius-5xl: 35.12pt;

    /* for font calculations, gaps, paddings, . . . */
    --scale-5xs: calc(0.0625rem * 6.39);
    --scale-4xs: calc(0.0625rem * 7.29);
    --scale-3xs: calc(0.0625rem * 8.31);
    --scale-2xs: calc(0.0625rem * 9.47);
    --scale-xs: calc(0.0625rem * 10.8);
    --scale-sm: calc(0.0625rem * 12.31);
    --scale-md: calc(0.0625rem * 14.04);
    --scale-nm: calc(0.0625rem * 16);
    --scale-xl: calc(0.0625rem * 20.79);
    --scale-2xl: calc(0.0625rem * 23.7);
    --scale-3xl: calc(0.0625rem * 27.02);
    --scale-4xl: calc(0.0625rem * 30.81);
    --scale-5xl: calc(0.0625rem * 35.12);

    /* fonts */
    --baseFontFamily: 'DM Sans', sans-serif;
    --baseFontSize: 16px;
    /* --baseFontSize: clamp(.125rem, .125vw + 16vmin, .96rem); */
    --baseFontWeight: 400;
    --baseLineHeight: clamp(1.25, 1.5, 1.75);

    /* shadows */
    --shadow-nm: 0 var(--scale-5xs) var(--scale-nm) hsla(0, 0%, 6%, 0.3);
    --shadow-xl: 0 var(--scale-5xs) var(--scale-xl) hsla(0, 0%, 6%, 0.6);

    /*animations*/
    --animProperties: var(--animDuration) var(--animTiming);
    --animDuration: 360ms;
    --animTiming: cubic-bezier(0.2, 0, 0, 1);
}

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    min-height: 0;
    min-width: 0;
    outline: none;
    padding: 0;
    position: relative;
    max-width: 100%;
    text-decoration: none;
}

html {
    background-color: var(--clr-background);
    display: contents;
    font-display: swap;
    font-kerning: auto;
    font-family: var(--baseFontFamily);
    font-size: var(--baseFontSize);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    font-style: normal;
    font-variant-ligatures: normal;
    font-optical-sizing: auto;
    font-stretch: normal;
    font-weight: var(--baseFontWeight);
    /* letter-spacing: .0125rem; */
    line-height: var(--baseLineHeight);
    overflow: clip;
    text-align: left;
    text-rendering: optimizeLegibility;
    /* word-spacing: .0625rem; */
}

body {
    background-color: var(--clr-background);
    color: var(--clr-text);
    height: 100dvh;
    overflow-x: clip;
    overflow-y: auto;
    width: 100dvw;

    &#app {
        padding: var(--scale-nm);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    display: flex;
}

a {
    align-items: center;
    display: inline-flex;
    color: var(--clr-accent);
    transition: color var(--animProperties);

    &:hover {
        color: var(--clr-accent--light);
    }

    &:active {
        color: var(--clr-accent--dark);
    }
}

/* utility tags */
button,
toggle {
    --component-bg: var(--clr-primary);

    align-items: center;
    border-radius: var(--radius-sm);
    background-color: var(--component-bg);
    color: var(--clr-text);
    cursor: pointer;
    display: inline-flex;
    font-size: var(--scale-sm);
    font-weight: 400;
    gap: var(--scale-sm);
    padding: var(--scale-3xs) var(--scale-sm);
    width: max-content;
    transition: background-color var(--animProperties);

    &:hover {
        background-color: color-mix(in srgb, var(--component-bg), white 3%);
    }

    &:active {
        background-color: color-mix(in srgb, var(--component-bg), black 6%);
    }
}

figure {
    border-radius: var(--radius-3xs);
    overflow: clip;

    >img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

footer,
header,
row {
    display: flex;
    flex-direction: row;
}

column,
section,
subsection {
    display: flex;
    flex-direction: column;
}

grid {
    --gap: var(--scale-nm);
    --minWidth: clamp(18rem, 1vw, 24rem);
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr;

    &[max="2"] {
        --max: 2;
        grid-template-columns: repeat(auto-fill, minmax(max(var(--minWidth), calc(100% / var(--max) - var(--gap))), 1fr));
    }

    &[max="3"] {
        --max: 3;
        grid-template-columns: repeat(auto-fill, minmax(max(var(--minWidth), calc(100% / var(--max) - var(--gap))), 1fr));
    }

    &[max="4"] {
        --max: 4;
        grid-template-columns: repeat(auto-fill, minmax(max(var(--minWidth), calc(100% / var(--max) - var(--gap))), 1fr));
    }
}

scrollable,
scrollable-x,
scrollable-y {
    display: flex;
    gap: var(--scale-nm);

    >* {
        flex-shrink: 0;
    }
}

scrollable {
    overflow-x: auto;
    overflow-y: auto;
}

scrollable-x {
    overflow-x: auto;
    overflow-y: clip;
}

scrollable-y {
    overflow-x: clip;
    overflow-y: auto;
}

/* material symbols patches */
icon,
.material-symbols-outlined,
.material-symbols-rounded,
.material-symbols-sharp {
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: "liga";
    aspect-ratio: 1;
    flex-shrink: 0;
    font-family: "Material Symbols Outlined", "Material Symbols Rounded",
        "Material Symbols Sharp";
    font-feature-settings: "liga";
    font-weight: normal;
    font-size: var(--scale-2xl, 1.5rem);
    font-style: normal;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 400, "opsz" 48;
    height: max-content;
    line-height: 1;
    letter-spacing: normal;
    overflow: clip;
    text-transform: none;
    width: max-content;

    &[data-fill=true] {
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 400, "opsz" 48;
    }
}

/* components */

dropdown {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    vertical-align: middle;
    width: max-content;
    z-index: auto;

    >toggle {
        --component-bg: var(--clr-secondary);
    }

    >dialog[data-role=dropmenu] {
        --component-bg: var(--clr-secondary);

        border-radius: var(--radius-3xs);
        border: none;
        box-shadow: var(--shadow-xl);

        flex-direction: column;
        gap: var(--scale-5xs);
        inset: 50% 50%;
        margin: 0;
        overflow: clip;
        padding: var(--scale-5xs);
        position: absolute;
        translate: -50% -50%;
        min-width: max-content;
        z-index: 2;

        &[open] {
            display: flex;
        }

        &[data-position=bottom] {
            inset: 100% 50%;
            margin: var(--scale-5xs) auto auto;
            translate: -50% 0%;
        }

        >button,
        a {
            --component-bg: var(--clr-tertiary);
            min-width: 100%;
        }
    }

    &[disabled] {
        pointer-events: none;
    }
}

productpack {
    --component-bg: var(--clr-primary);

    background-color: var(--component-bg);
    border-radius: var(--radius-3xs);
    display: flex;
    flex-direction: column;
    min-height: calc(var(--scale-nm) * 32);
    overflow: visible;
    position: relative;
    transition: box-shadow var(--animProperties);
    z-index: auto;

    &:hover {
        box-shadow: var(--shadow-nm);
    }

    &.active {
        box-shadow: 0 0 calc(var(--scale-5xs) - 1rem) calc(var(--scale-5xs) / 2.56) var(--clr-accent);

        &:hover {
            box-shadow: 0 0 calc(var(--scale-5xs) - 1rem) calc(var(--scale-5xs) / 2.56) var(--clr-accent), var(--shadow-nm);
        }
    }

    & var {
        font-style: normal;
    }

    & figure {
        display: flex;
        overflow: clip;
        place-content: center center;
        place-items: center center;
        position: relative;
        vertical-align: middle;

        >i {
            display: inline-flex;
            font-size: var(--scale-5xl);
            height: max-content;
            margin: auto;
            opacity: 0.15;
            width: max-content;
            z-index: 1;
        }

        >img {
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 100%;
            z-index: 2;
        }

        i,
        img {
            inset: auto;
            margin: auto;
            position: absolute;
        }
    }

    >productpack__header {
        display: flex;
        flex-direction: column;
        gap: var(--scale-3xs);
        z-index: 2;

        >row {
            justify-content: space-between;
            z-index: 1;

            >tag {
                background-color: var(--clr-accent);
                border-radius: var(--radius-3xs) 0 var(--radius-3xs) 0;
                color: var(--clr-text);
                font-size: var(--scale-md);
                font-weight: 500;
                padding: var(--scale-3xs) var(--scale-sm);
            }

            >dropdown {
                >toggle {
                    border-radius: 0 var(--radius-3xs) 0 var(--radius-3xs);
                    font-size: var(--scale-xl);
                    padding: var(--scale-3xs) var(--scale-sm);
                }

                & button {
                    justify-content: center;
                }
            }
        }

        >heading {
            color: var(--clr-text);
            font-size: var(--scale-nm);
            padding: 0 var(--scale-5xs);
            text-align: center;
        }

        >dropdown {
            align-self: center;
        }
    }

    >productpack__body {
        display: grid;
        flex-grow: 1;
        gap: var(--scale-nm);
        grid-template-columns: repeat(auto-fit,
                minmax(max(6rem, calc(100% / 3)), 1fr));
        padding: var(--scale-nm);

        >productpack__product {
            border-radius: var(--radius-3xs);
            color: var(--clr-text);
            display: flex;
            flex-direction: column;
            isolation: isolate;
            outline: solid 0.125rem var(--clr-secondary);
            outline-offset: -0.125rem;
            overflow: clip;

            >figure {
                background-color: var(--clr-secondary);
                height: 6rem;
                margin: 0;
                width: 100%;

                >img[src=""],
                >img[src="_"],
                >img[src=" "] {
                    display: none;
                }
            }

            p {
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                display: block;
                display: -webkit-box;
                font-size: var(--scale-sm);
                margin: var(--scale-xs) auto;
                overflow: clip;
                padding: 0 var(--scale-nm);
                position: relative;
                text-overflow: ellipsis;
            }

            &[empty] {
                opacity: 0.5;

                >figure {

                    >i,
                    >img {
                        display: none;
                    }
                }
            }
        }
    }

    >productpack__footer {
        align-items: center;
        background-color: var(--clr-secondary);
        border-radius: var(--radius-3xs);
        display: flex;
        gap: var(--scale-5xs);
        height: calc(var(--scale-nm) * 3.75);
        justify-content: center;
        outline: solid 0.25rem var(--clr-primary);
        outline-offset: -0.25rem;
        padding: var(--scale-sm) var(--scale-nm);

        >button {
            --component-bg: var(--clr-tertiary);
            gap: var(--scale-5xs);
            height: 100%;

            >var {
                align-items: center;
                background-color: color-mix(in srgb, var(--component-bg), white 6%);
                border-radius: var(--radius-sm);
                display: flex;
                font-size: var(--scale-xs);
                height: var(--scale-xl);
                justify-content: center;
                transition-duration: 0s;
                width: var(--scale-xl);
            }

            &[status=active] {
                --component-bg: var(--clr-accent);
                color: var(--clr-accent--dark);
                cursor: initial;
                font-weight: 600;
                pointer-events: none;
            }
        }
    }

    &[mini] {
        min-height: calc(var(--scale-nm) * 24);
        width: calc(var(--scale-5xl) * 6);

        >productpack__body {
            display: flex;

            >productpack__product {
                flex-grow: 1;

                >figure {
                    flex-grow: 1;
                    height: auto;
                }
            }
        }
    }
}

dialog {
    --component-bg: var(--clr-primary);

    align-items: center;
    background-color: var(--component-bg);
    border-radius: var(--radius-3xs);
    color: var(--clr-text);
    flex-direction: column;
    width: calc(var(--scale-nm) * 24);
    overflow: clip;
    padding: var(--scale-sm);

    &[open] {
        display: flex;
    }

    &:modal {
        inset: 0;
        margin: auto;
    }

    &::backdrop {
        background-color: color-mix(in srgb, var(--clr-background), transparent 50%);
        filter: blur(var(--radius-3xs));
    }

    >dialog__header,
    >dialog__body,
    >dialog__footer {
        align-items: center;
        display: flex;
        gap: var(--scale-3xs);
        width: 100%;
    }

    >dialog__header {
        border-bottom: solid var(--clr-secondary) calc(var(--scale-3xs) * 0.1);
    }

    >dialog__body {
        flex-direction: column;
        flex-grow: 1;
    }

    >dialog__footer {
        border-top: solid var(--clr-secondary) calc(var(--scale-3xs) * 0.1);
    }

    &[data-variant=warning] {
        >dialog__header {}

        >dialog__body {}

        >dialog__footer {}
    }

    &[data-variant=onboarding] {
        padding: 0;

        >dialog__header,
        >dialog__body,
        >dialog__footer {
            padding: var(--scale-sm);
        }

        >dialog__body {
            >figure {
                background-color: var(--clr-secondary);
                border-radius: var(--radius-3xs);
                height: calc(var(--scale-nm) * 16);
                width: 100%;
            }

            >h6 {
                font-size: var(--scale-nm);
                width: 100%;
            }

            >p {
                color: var(--clr-subtext);
                font-size: var(--scale-md);
            }

            button {
                background-color: var(--clr-context);
                border-radius: var(--radius-3xs);
                color: var(--clr-text);
                font-size: var(--scale-sm);
                gap: var(--scale-3xs);
                padding: var(--scale-3xs) var(--scale-sm);
                width: 100%;

                >span {
                    flex-grow: 1;
                    text-align: left;
                }
            }
        }

        >dialog__footer {
            >button {
                --component-bg: var(--clr-secondary);
            }

            >row {
                flex-grow: 1;
                justify-content: center;
                gap: calc(var(--scale-3xs) * 0.25);

                >icon {
                    color: var(--clr-tertiary);
                    font-size: var(--scale-3xs);

                    &.active {
                        color: var(--clr-text);
                    }
                }
            }
        }
    }
}