<!DOCTYPE html>

<script src="../drops/drops.js"></script>
<script type="module" defer>
    const drops = new Drops();
    drops.init();
</script>

<template>
    <grid max="4">
        <productpack>
            <productpack__header>
                <row>
                    <tag>
                        #1087561
                    </tag>
                    <dropdown>
                        <toggle>
                            <icon>more_vert</icon>
                            <!-- <i class="fa-regular fa-ellipsis-vertical"></i> -->
                        </toggle>
                        <dialog data-role="dropmenu" data-position="bottom">
                            <button type="button" class="rename">Rename</button>
                            <button type="button" class="clone">Clone</button>
                            <button type="button" class="delete">Delete</button>
                        </dialog>
                    </dropdown>
                </row>

                <heading>
                    <span>Pack #47</span>
                </heading>

                <dropdown dropdown="product_company">
                    <toggle product-company="">
                        Choose Product Type
                    </toggle>
                    <dialog data-role="dropmenu" data-position="bottom">
                        <button type="button" class="product-company" value="energy_efficiency_product">Energy
                            Efficiency</button>
                        <button type="button" class="product-company" value="geothermal_product">Geothermal</button>
                        <button type="button" class="product-company" value="hvac_product">HVAC</button>
                    </dialog>
                </dropdown>
            </productpack__header>

            <productpack__body>
                <productpack__product>
                    <figure>
                        <img src="_" alt="product-thumbnail">
                        <icon>imagesmode</icon>
                        <!-- <i class="fa-solid fa-image"></i> -->
                    </figure>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto quos, vitae est illum
                        voluptates.
                    </p>
                </productpack__product>
                <productpack__product>
                    <figure>
                        <img src="_" alt="product-thumbnail">
                        <icon>imagesmode</icon>
                        <!-- <i class="fa-solid fa-image"></i> -->
                    </figure>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto quos, vitae est illum
                        voluptates.
                    </p>
                </productpack__product>
                <productpack__product>
                    <figure>
                        <img src="_" alt="product-thumbnail">
                        <icon>imagesmode</icon>
                        <!-- <i class="fa-solid fa-image"></i> -->
                    </figure>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto quos, vitae est illum
                        voluptates.
                    </p>
                </productpack__product>
                <productpack__product>
                    <figure>
                        <img src="_" alt="product-thumbnail">
                        <icon>imagesmode</icon>
                        <!-- <i class="fa-solid fa-image"></i> -->
                    </figure>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto quos, vitae est illum
                        voluptates.
                    </p>
                </productpack__product>
            </productpack__body>

            <productpack__footer>
                <button status="active">
                    <span>Active</span>
                </button>
                <button interactive class="product-count">
                    <icon>shopping_cart</icon>
                    <!-- <i class="fa-solid fa-cart-shopping"></i> -->
                    <var>0</var>
                </button>
                <button interactive class="view-proposals">
                    <span>View Proposal</span>
                    <var>0</var>
                </button>
            </productpack__footer>
        </productpack>

        <productpack class="active">
            <productpack__header>
                <row>
                    <tag>
                        #1087561
                    </tag>
                    <dropdown>
                        <toggle>
                            <icon>more_vert</icon>
                            <!-- <i class="fa-regular fa-ellipsis-vertical"></i> -->
                        </toggle>
                        <dialog data-role="dropmenu" data-position="bottom">
                            <button type="button" class="rename">Rename</button>
                            <button type="button" class="clone">Clone</button>
                            <button type="button" class="delete">Delete</button>
                        </dialog>
                    </dropdown>
                </row>

                <heading>
                    <span>Pack #47</span>
                </heading>

                <dropdown dropdown="product_company">
                    <toggle product-company="">
                        Choose Product Type
                    </toggle>
                    <dialog data-role="dropmenu" data-position="bottom">
                        <button type="button" class="product-company" value="energy_efficiency_product">Energy
                            Efficiency</button>
                        <button type="button" class="product-company" value="geothermal_product">Geothermal</button>
                        <button type="button" class="product-company" value="hvac_product">HVAC</button>
                    </dialog>
                </dropdown>
            </productpack__header>

            <productpack__body>
                <productpack__product>
                    <figure>
                        <img src="_" alt="product-thumbnail">
                        <icon>imagesmode</icon>
                        <!-- <i class="fa-solid fa-image"></i> -->
                    </figure>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto quos, vitae est illum
                        voluptates.
                    </p>
                </productpack__product>
                <productpack__product>
                    <figure>
                        <img src="_" alt="product-thumbnail">
                        <icon>imagesmode</icon>
                        <!-- <i class="fa-solid fa-image"></i> -->
                    </figure>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto quos, vitae est illum
                        voluptates.
                    </p>
                </productpack__product>
                <productpack__product>
                    <figure>
                        <img src="_" alt="product-thumbnail">
                        <icon>imagesmode</icon>
                        <!-- <i class="fa-solid fa-image"></i> -->
                    </figure>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto quos, vitae est illum
                        voluptates.
                    </p>
                </productpack__product>
                <productpack__product>
                    <figure>
                        <img src="_" alt="product-thumbnail">
                        <icon>imagesmode</icon>
                        <!-- <i class="fa-solid fa-image"></i> -->
                    </figure>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto quos, vitae est illum
                        voluptates.
                    </p>
                </productpack__product>
            </productpack__body>

            <productpack__footer>
                <button status="active">
                    <span>Active</span>
                </button>
                <button interactive class="product-count">
                    <icon>shopping_cart</icon>
                    <!-- <i class="fa-solid fa-cart-shopping"></i> -->
                    <var>0</var>
                </button>
                <button interactive class="view-proposals">
                    <span>View Proposal</span>
                    <var>0</var>
                </button>
            </productpack__footer>
        </productpack>
    </grid>
</template>