<!DOCTYPE html>

<script type="module" defer>
    const miniatures = document.getElementById('miniatures');

    for (let index = 0; index < 6; index++) {
        const card = document.querySelector("productpack[mini]").cloneNode(true);
        miniatures.appendChild(card);
    }
</script>

<template>
    <scrollable-x id="miniatures">
        <productpack mini>
            <productpack__header>
                <row>
                    <tag>
                        #1845915
                    </tag>
                </row>

                <heading>
                    <span>Pack #54739</span>
                </heading>

            </productpack__header>

            <productpack__body>
                <productpack__product>
                    <figure>
                        <img src="_" alt="product-thumbnail">
                        <icon>imagesmode</icon>
                    </figure>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto quos, vitae est illum
                        voluptates.
                    </p>
                </productpack__product>
            </productpack__body>

            <productpack__footer>
                <button interactive class="product-count">
                    <icon>shopping_cart</icon>
                    <var>0</var>
                </button>
            </productpack__footer>
        </productpack>
    </scrollable-x>
</template>