<!DOCTYPE html>

<template>
    <grid max="4" demo>
        <column>
            <dialog open>
                base dialog
            </dialog>
        </column>
        <column>
            <dialog open data-variant="warning">
                <dialog__header>
                    <i class="material-symbols-outlined">
                        warning
                    </i>
                </dialog__header>

                <dialog__body>
                    <h6>This is an important message that should be taken in consideration</h6>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat harum ex obcaecati, eius
                        aspernatur reprehenderit consequatur sequi, error et adipisci porro minus quibusdam voluptates
                        corrupti amet recusandae, ad accusamus enim! </p>
                </dialog__body>

                <dialog__footer>
                    <a href="{{$url}}">Go to Opportunity</a>
                </dialog__footer>
            </dialog>
        </column>
        <column>
            <dialog open data-variant="onboarding">
                <dialog__header>
                </dialog__header>

                <dialog__body>
                    <figure>
                        <img src="https://cdn.dribbble.com/userupload/4445530/file/original-e497cba23d5b8af9b696c6b0433b8338.png?resize=1024x768"
                            alt="onboard-thumbnail">
                    </figure>
                    <h6>Integration is the key</h6>
                    <p> Quaerat harum ex obcaecati, eius aspernatur reprehenderit consequatur sequi, error et adipisci
                        porro minus quibusdam voluptates
                        corrupti amet recusandae, ad accusamus enim! </p>
                    <button href="javascript:void(0)">
                        <icon>link</icon>
                        <span>Read More about integrations</span>
                        <icon>chevron_right</icon>
                    </button>
                </dialog__body>

                <dialog__footer>
                    <button>
                        Previous
                    </button>
                    <row>
                        <icon data-fill="true">circle</icon>
                        <icon data-fill="true" class="active">circle</icon>
                        <icon data-fill="true">circle</icon>
                        <icon data-fill="true">circle</icon>
                    </row>
                    <button>
                        Continue
                    </button>
                </dialog__footer>
            </dialog>
        </column>
    </grid>
</template>