<!DOCTYPE html>

<script src="./drops.js"></script>
<script type="module" defer>
    const drops = new Drops();
    drops.init();

    const cardsRow = document.querySelector("#cardsRow");

    let card = document.getElementsByTagName("card")[0].cloneNode(true);
    cardsRow.appendChild(card);

    if (card instanceof Element) {
        let foundDrops = [...card.querySelectorAll("dropdown")];
        drops.init(foundDrops);
    }
</script>

<template>

    <grid id="cardsRow" max="4">
        <card>
            <dropdown>
                <toggle>dropdown</toggle>
                <dialog data-role="dropmenu">
                    <button>long item name</button>
                    <button>longer item name</button>
                    <button>even longer item name for a button</button>
                </dialog>
            </dropdown>
            <br>
            <dropdown>
                <toggle>dropdown</toggle>
                <dialog data-role="dropmenu">
                    <button>long item name</button>
                    <button>longer item name</button>
                    <button>even longer item name for a button</button>
                </dialog>
            </dropdown>
        </card>
        <card>
            <dropdown>
                i have no toggle
                <dialog data-role="dropmenu">
                    <button>long item name</button>
                    <button>longer item name</button>
                    <button>even longer item name for a button</button>
                </dialog>
            </dropdown>
        </card>
        <card>
            <dropdown>
                <toggle>dropdown</toggle>
                theres no dropmenu
            </dropdown>
        </card>
    </grid>
</template>

<style lang="css">
    card {
        background-color: var(--clr-primary);
        border-radius: var(--radius-sm);
        color: var(--clr-text);
        height: 16rem;
        padding: var(--scale-nm);
        z-index: auto;
    }
</style>